@import "./config.scss";

.container-login {
  .logo {
    width: 178.35px;
    display: block;
    margin: auto;
    margin-bottom: 47px;
  }

  .input {
    display: flex;
    flex-direction: row;
    margin: 10px;
    position: relative;

    > img {
      width: 16px;
      margin-right: 18px;
    }
    input {
      width: 224px;
      font-size: 14px;
      border-bottom-color: #91a3ad;
      letter-spacing: 0.01em;
      border-radius: 0;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 1px;
      padding-bottom: 8px;
      outline: none;
      color: #91a3ad;
      padding-right: 26px;

      &:focus {
        border-bottom-color: $primaryColor;
        color: $primaryColor;

        &::placeholder {
          color: $primaryColor;
        }
      }

      &::placeholder {
        color: #91a3ad;
      }
    }
    .olho {
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      right: 0;
      top: 1px;
    }
  }
  .login-button {
    width: 100%;
    height: 56px;
    background-color: $primaryColor;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 30px;
    border: none;
  }
}

@media only screen and (min-width: 1200px) {
  .container-login {
    display: flex;
    justify-content: space-evenly;

    .logo {
      margin: 0;
      width: 520px;
    }

    form {
      border: 1px solid $primaryColor;
      border-radius: 32px;
      padding: 80px 40px;
      margin-left: 136px;

      .input {
        padding-bottom: 15px;
        img {
          width: 24px;
        }
        input {
          font-size: 16px;
          width: 343px;
        }
      }

      .login-button {
        height: 64px;
        font-size: 18px;
      }
      
    }
  }
}
