@import "./config.scss";

.container-main {
  width: 100%;
  height: 100%;

  .button {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    background: rgba(145, 163, 173, 0.15);
    color: $primaryColor;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
    margin: 8px;
  }

  .add-task {
    font-weight: 500;

    &:before {
      content: "+";
      border: 2px solid $primaryColor;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin-right: 16px;
    }
  }
}
